**/*.swp
**/*.jld
**/*.jld2
**/*.png
**/*.mp4
**/*.DS_Store
**/*.mem
**/*.pdf
**/.nfs*
**/*.cov
**/Manifest.toml

# vs code
.vscode

# Documenter.jl and MkDocs
docs/build/
docs/site/
docs/src/generated
docs/src/literated
docs/src/examples
docs/Manifest.toml
docs/build/
docs/site/
coverage/

.DS_store